header ul{
    list-style: none; 
    padding: 0;
}
header li{
    padding: 15px;
    border: 2px solid rgb(131, 224, 123);
}
header li a{
    color: rgb(3, 1, 15);
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: auto;
}
ul li button{
    width: 100%;
    background-color: rgb(242, 247, 243);
    border: 1px solid rgb(17, 240, 9);
    padding-bottom: 10px;
}
button a{
    color: rgb(2, 2, 46);
    font-size: 20px;
    text-decoration: none;
}
table{
    text-align: center;
    margin: 0 auto;
}
td img{
    width: 85px;
}
body{
    font-size: 40px;
}